<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/menu %>

  <div class="container-fluid bg-3 text-center">
    <h3><%= title %></h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p><a href="https://bafoeval.com/">Find Your Business Value From BAFOEVAL</a></p>
      </div>
      <div class="col-sm-4">
        <p><a href="https://apps.apple.com/us/app/bafo/id1358533791">Meet Your Local Contrctors on BAFO.WORK</a></p>
      </div>
      <div class="col-sm-4">
        <p>...And Something BIG is in the Plan!.</p>
      </div>
    </div>
  </div>

</body>
<% include partials/script %>

</html>
