<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/menu %>

  <div class="container-fluid bg-3 text-center">
    <h3><%= title %></h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Infrastructure design and deployment.</p>
        <img src="images/infr.png" alt="infr" width="322" height="569">
      </div>
      <div class="col-sm-4">
        <p>iOS development.</p>
        <img src="images/mobile.jpg" alt="mobile" width="322" height="569">
      </div>
      <div class="col-sm-4">
        <p>Virtualization.</p>
        <img src="images/compute.png" alt="compute" width="322" height="569">
      </div>
    </div>
  </div>

</body>
<% include partials/script %>

</html>
